In [9]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [10]:
# Load the dataset
Train_Data = pd.read_csv("Olenzro_bank.csv")

In [11]:
Train_Data.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,interest_rate,age,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1,2009,01/08/2009,1102011,0.5,RENT,1,Low,85000,1,...,11.89,21,B,2,19.48,29324.32,25000.00,0.00,829.10,ulster
1,2,2008,01/07/2008,1032010,0.5,RENT,1,Low,30000,1,...,16.08,43,F,6,23.84,1207.76,999.99,0.00,35.20,cannught
2,3,2008,01/05/2008,1062011,0.5,RENT,1,Low,65000,1,...,10.71,20,B,2,14.29,8215.45,7000.00,0.00,228.22,Northern-Irl
3,4,2008,01/04/2008,1102008,10.0,MORTGAGE,3,Medium,189500,2,...,16.08,55,F,6,22.47,1231.90,783.46,0.25,246.38,ulster
4,5,2014,01/08/2014,1122014,1.0,RENT,1,Low,70000,1,...,16.99,18,D,4,10.50,6073.10,1634.65,3354.94,891.20,Northern-Irl

In [12]:
Train_Data.tail()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,interest_rate,age,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
113275,113276,2015,01/12/2015,1012016,0.5,RENT,1,Low,56000,1,...,16.55,58,D,4,25.11,0.0,0.0,0.0,531.44,cannught
113276,113277,2015,01/12/2015,1012016,7.0,MORTGAGE,3,Medium,101000,2,...,16.99,53,D,4,22.66,0.0,0.0,0.0,596.34,leinster
113277,113278,2015,01/12/2015,1012016,4.0,MORTGAGE,3,Low,98000,1,...,12.59,27,C,3,17.32,0.0,0.0,0.0,80.40,ulster
113278,113279,2015,01/12/2015,1012016,3.0,MORTGAGE,3,Low,61900,1,...,15.41,21,D,4,20.32,0.0,0.0,0.0,209.20,Northern-Irl
113279,113280,2015,01/12/2015,1012016,6.0,RENT,1,Medium,150000,2,...,21.99,87,F,6,19.21,0.0,0.0,0.0,773.18,Northern-Irl

In [13]:
Train_Data.shape

(113280, 31)

In [17]:
#cheking  data types of the coulmn
Train_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113280 entries, 0 to 113279
Data columns (total 31 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    113280 non-null  int64
 1   year                  113280 non-null  int64
 2   issue_d               113280 non-null  object
 3   final_d               113280 non-null  int64
 4   emp_length_int        113280 non-null  float64
 5   home_ownership        113280 non-null  object
 6   home_ownership_cat    113280 non-null  int64
 7   income_category       113280 non-null  object
 8   annual_inc            113280 non-null  int64
 9   income_cat            113280 non-null  int64
 10  loan_amount           113280 non-null  int64
 11  term                  113280 non-null  object
 12  term_cat              113280 non-null  int64
 13  application_type      113280 non-null  object
 14  application_type_cat  113280 non-null  int64
 15  purpose               113280 non-null  object
 16  purpose_cat           113280 non-null  int64
 17  interest_payments     113280 non-null  object
 18  interest_payment_cat  113280 non-null  int64
 19  loan_condition        113280 non-null  object
 20  loan_condition_cat    113280 non-null  int64
 21  interest_rate         113272 non-null  float64
 22  age                   113280 non-null  int64
 23  grade                 113280 non-null  object
 24  grade_cat             113280 non-null  int64
 25  dti                   113280 non-null  float64
 26  total_pymnt           113280 non-null  float64
 27  total_rec_prncp       113280 non-null  float64
 28  recoveries            113280 non-null  float64
 29  installment           113280 non-null  float64
 30  region                113280 non-null  object
dtypes: float64(7), int64(14), object(10)
memory usage: 26.8+ MB

In [14]:
#cheking the available columns in the data set
Train_Data.columns

Index(['id', 'year', 'issue_d', 'final_d', 'emp_length_int', 'home_ownership',
       'home_ownership_cat', 'income_category', 'annual_inc', 'income_cat',
       'loan_amount', 'term', 'term_cat', 'application_type',
       'application_type_cat', 'purpose', 'purpose_cat', 'interest_payments',
       'interest_payment_cat', 'loan_condition', 'loan_condition_cat',
       'interest_rate', 'age', 'grade', 'grade_cat', 'dti', 'total_pymnt',
       'total_rec_prncp', 'recoveries', 'installment', 'region'],
      dtype='object')

In [15]:
#check null values of the trainin gdata set

Train_Data.isnull()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,interest_rate,age,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113276,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113277,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113278,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
113279,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
Train_Data.isnull().sum().sort_values(ascending=False)

interest_rate           8
id                      0
purpose_cat             0
installment             0
recoveries              0
total_rec_prncp         0
total_pymnt             0
dti                     0
grade_cat               0
grade                   0
age                     0
loan_condition_cat      0
loan_condition          0
interest_payment_cat    0
interest_payments       0
purpose                 0
year                    0
application_type_cat    0
application_type        0
term_cat                0
term                    0
loan_amount             0
income_cat              0
annual_inc              0
income_category         0
home_ownership_cat      0
home_ownership          0
emp_length_int          0
final_d                 0
issue_d                 0
region                  0
dtype: int64

In [17]:
# handle numerical missing data
Train_Data['interest_rate'] = Train_Data['interest_rate'].fillna(Train_Data['interest_rate'].mean())

In [22]:
# cheking whether the null values replaced or not
Train_Data.isnull().sum().sort_values(ascending=False)

id                      0
purpose_cat             0
installment             0
recoveries              0
total_rec_prncp         0
total_pymnt             0
dti                     0
grade_cat               0
grade                   0
age                     0
interest_rate           0
loan_condition_cat      0
loan_condition          0
interest_payment_cat    0
interest_payments       0
purpose                 0
year                    0
application_type_cat    0
application_type        0
term_cat                0
term                    0
loan_amount             0
income_cat              0
annual_inc              0
income_category         0
home_ownership_cat      0
home_ownership          0
emp_length_int          0
final_d                 0
issue_d                 0
region                  0
dtype: int64

In [18]:
#check duplicate values of the trainin gdata set


# Count of duplicate records persent in the data

duplicateRows = Train_Data[Train_Data.duplicated()]
print("Number of duplicate rows:",duplicateRows.shape)

Number of duplicate rows: (0, 31)

In [24]:
Train_Data.loc[Train_Data['term'] == '36 months', 'term'] = 36
Train_Data.loc[Train_Data['term'] == '60 months', 'term'] = 60
Train_Data.loc[Train_Data['home_ownership'] == 'MORTGAGE', 'home_ownership'] = 'Mortgage'
Train_Data.loc[Train_Data['home_ownership'] == 'ANY', 'home_ownership'] = 'Any'
Train_Data.loc[Train_Data['home_ownership'] == 'RENT', 'home_ownership'] = 'Rent'
Train_Data.loc[Train_Data['home_ownership'] == 'OWN', 'home_ownership'] = 'Own'
Train_Data.loc[Train_Data['home_ownership'] == 'NONE', 'home_ownership'] = 'None'
Train_Data.loc[Train_Data['home_ownership'] == 'OTHER', 'home_ownership'] = 'Other'
Train_Data.loc[Train_Data['application_type'] == 'INDIVIDUAL', 'application_type'] = 'Individual'
Train_Data.loc[Train_Data['application_type'] == 'JOINT', 'application_type'] = 'Joint'
Train_Data.loc[Train_Data['purpose'] == 'credit_card', 'purpose'] = 'Credit Card'
Train_Data.loc[Train_Data['purpose'] == 'debt_consolidation', 'purpose'] = 'Debt consolidation'
Train_Data.loc[Train_Data['purpose'] == 'renewable_energy', 'purpose'] = 'Renewable energy'
Train_Data.loc[Train_Data['purpose'] == 'major_purchase', 'purpose'] = 'Major Purchase'
Train_Data.loc[Train_Data['purpose'] == 'small_business', 'purpose'] = 'Small Business'
Train_Data.loc[Train_Data['purpose'] == 'home_improvment', 'purpose'] = 'Home Improvment'
Train_Data.loc[Train_Data['purpose'] == 'car', 'purpose'] = 'Car'
Train_Data.loc[Train_Data['purpose'] == 'educational', 'purpose'] = 'Educational'
Train_Data.loc[Train_Data['purpose'] == 'house', 'purpose'] = 'House'
Train_Data.loc[Train_Data['purpose'] == 'medical', 'purpose'] = 'Medical'
Train_Data.loc[Train_Data['purpose'] == 'moving', 'purpose'] = 'Moving'
Train_Data.loc[Train_Data['purpose'] == 'other', 'purpose'] = 'Other'
Train_Data.loc[Train_Data['purpose'] == 'vacation', 'purpose'] = 'Vacation'
Train_Data.loc[Train_Data['purpose'] == 'wedding', 'purpose'] = 'Wedding'
Train_Data

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,interest_rate,age,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1,2009,01/08/2009,1102011,0.5,Rent,1,Low,85000,1,...,11.89,21,B,2,19.48,29324.32,25000.00,0.00,829.10,ulster
1,2,2008,01/07/2008,1032010,0.5,Rent,1,Low,30000,1,...,16.08,43,F,6,23.84,1207.76,999.99,0.00,35.20,cannught
2,3,2008,01/05/2008,1062011,0.5,Rent,1,Low,65000,1,...,10.71,20,B,2,14.29,8215.45,7000.00,0.00,228.22,Northern-Irl
3,4,2008,01/04/2008,1102008,10.0,Mortgage,3,Medium,189500,2,...,16.08,55,F,6,22.47,1231.90,783.46,0.25,246.38,ulster
4,5,2014,01/08/2014,1122014,1.0,Rent,1,Low,70000,1,...,16.99,18,D,4,10.50,6073.10,1634.65,3354.94,891.20,Northern-Irl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,113276,2015,01/12/2015,1012016,0.5,Rent,1,Low,56000,1,...,16.55,58,D,4,25.11,0.00,0.00,0.00,531.44,cannught
113276,113277,2015,01/12/2015,1012016,7.0,Mortgage,3,Medium,101000,2,...,16.99,53,D,4,22.66,0.00,0.00,0.00,596.34,leinster
113277,113278,2015,01/12/2015,1012016,4.0,Mortgage,3,Low,98000,1,...,12.59,27,C,3,17.32,0.00,0.00,0.00,80.40,ulster
113278,113279,2015,01/12/2015,1012016,3.0,Mortgage,3,Low,61900,1,...,15.41,21,D,4,20.32,0.00,0.00,0.00,209.20,Northern-Irl
113279,113280,2015,01/12/2015,1012016,6.0,Rent,1,Medium,150000,2,...,21.99,87,F,6,19.21,0.00,0.00,0.00,773.18,Northern-Irl

In [19]:
#drop column which are not related
Train_Data = Train_Data.drop(columns=['id',
'year',
'issue_d',
'final_d',
'home_ownership_cat',
'income_cat',
'term_cat',
'application_type_cat',                            
'purpose_cat',                           
'interest_payment_cat',
'loan_condition_cat',
'grade_cat',
'total_rec_prncp',
'recoveries',
'region'],axis=1)

Train_Data

,emp_length_int,home_ownership,income_category,annual_inc,loan_amount,term,application_type,purpose,interest_payments,loan_condition,interest_rate,age,grade,dti,total_pymnt,installment
0,0.5,RENT,Low,85000,25000,36 months,INDIVIDUAL,debt_consolidation,Low,Good Loan,11.89,21,B,19.48,29324.32,829.10
1,0.5,RENT,Low,30000,1000,36 months,INDIVIDUAL,debt_consolidation,High,Good Loan,16.08,43,F,23.84,1207.76,35.20
2,0.5,RENT,Low,65000,7000,36 months,INDIVIDUAL,credit_card,Low,Good Loan,10.71,20,B,14.29,8215.45,228.22
3,10.0,MORTGAGE,Medium,189500,7000,36 months,INDIVIDUAL,debt_consolidation,High,Bad Loan,16.08,55,F,22.47,1231.90,246.38
4,1.0,RENT,Low,70000,25000,36 months,INDIVIDUAL,debt_consolidation,High,Bad Loan,16.99,18,D,10.50,6073.10,891.20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,0.5,RENT,Low,56000,15000,36 months,INDIVIDUAL,debt_consolidation,High,Bad Loan,16.55,58,D,25.11,0.00,531.44
113276,7.0,MORTGAGE,Medium,101000,24000,60 months,INDIVIDUAL,debt_consolidation,High,Bad Loan,16.99,53,D,22.66,0.00,596.34
113277,4.0,MORTGAGE,Low,98000,2400,36 months,INDIVIDUAL,other,Low,Bad Loan,12.59,27,C,17.32,0.00,80.40
113278,3.0,MORTGAGE,Low,61900,6000,36 months,INDIVIDUAL,vacation,High,Bad Loan,15.41,21,D,20.32,0.00,209.20
113279,6.0,RENT,Medium,150000,28000,60 months,INDIVIDUAL,debt_consolidation,High,Bad Loan,21.99,87,F,19.21,0.00,773.18

In [20]:
#setting a value for indentify good loan and bad loan with a function
def defaulted(x):
    if x == 'Good Loan':
        return 0
    else:
        return 1

In [21]:
Train_Data['loan_cat'] = Train_Data['loan_condition'].apply(lambda x: defaulted(x))

In [22]:
# specify input and output attributes
Input_cols = Train_Data.drop(columns=['loan_condition'], axis=1)
Target_cols= Train_Data['loan_condition']

In [23]:
#one hot encoding data
from sklearn.preprocessing import OneHotEncoder
 
numerical_cols_train = Input_cols.select_dtypes(include=np.number).columns.tolist()
categorical_cols_train = Input_cols.select_dtypes('object').columns.tolist()

In [24]:
encoder = OneHotEncoder(sparse=False,handle_unknown='ignore').fit(Input_cols[categorical_cols_train])

In [25]:
encoded_cols = list(encoder.get_feature_names_out(categorical_cols_train))

In [26]:
Input_cols[encoded_cols] =encoder.transform(Input_cols[categorical_cols_train])
Train_Inputs=Input_cols[numerical_cols_train + encoded_cols]

In [27]:
Train_Inputs

,emp_length_int,annual_inc,loan_amount,interest_rate,age,dti,total_pymnt,installment,loan_cat,home_ownership_MORTGAGE,...,purpose_wedding,interest_payments_High,interest_payments_Low,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
0,0.5,85000,25000,11.89,21,19.48,29324.32,829.10,0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.5,30000,1000,16.08,43,23.84,1207.76,35.20,0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.5,65000,7000,10.71,20,14.29,8215.45,228.22,0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10.0,189500,7000,16.08,55,22.47,1231.90,246.38,1,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,70000,25000,16.99,18,10.50,6073.10,891.20,1,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,0.5,56000,15000,16.55,58,25.11,0.00,531.44,1,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113276,7.0,101000,24000,16.99,53,22.66,0.00,596.34,1,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113277,4.0,98000,2400,12.59,27,17.32,0.00,80.40,1,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
113278,3.0,61900,6000,15.41,21,20.32,0.00,209.20,1,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113279,6.0,150000,28000,21.99,87,19.21,0.00,773.18,1,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [28]:
Train_Inputs.describe()

,emp_length_int,annual_inc,loan_amount,interest_rate,age,dti,total_pymnt,installment,loan_cat,home_ownership_MORTGAGE,...,purpose_wedding,interest_payments_High,interest_payments_Low,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
count,113280.000000,1.132800e+05,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,...,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000,113280.000000
mean,5.626671,6.947177e+04,13579.070886,14.362952,47.578964,16.787528,9395.249278,408.286032,0.544703,0.458077,...,0.010478,0.579952,0.420048,0.138436,0.248773,0.254529,0.189124,0.108713,0.046628,0.013798
std,3.491567,6.438527e+04,8285.573758,4.515221,20.206136,8.045788,7928.634304,245.104487,0.498000,0.498242,...,0.101827,0.493568,0.493568,0.345358,0.432304,0.435598,0.391609,0.311280,0.210841,0.116651
min,0.500000,1.896000e+03,500.000000,5.320000,13.000000,0.000000,0.000000,15.670000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,4.200000e+04,7100.000000,11.120000,30.000000,10.810000,3584.020000,227.410000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,6.000000e+04,12000.000000,14.090000,47.000000,16.580000,7166.635000,354.450000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,10.000000,8.300000e+04,18825.000000,17.390000,63.000000,22.380000,12862.712500,537.950000,1.000000,1.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,10.000000,8.900060e+06,35000.000000,28.990000,90.000000,59.260000,56809.051630,1424.570000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
#cheking  data types of the coulmn
Train_Inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113280 entries, 0 to 113279
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   emp_length_int               113280 non-null  float64
 1   annual_inc                   113280 non-null  int64
 2   loan_amount                  113280 non-null  int64
 3   interest_rate                113280 non-null  float64
 4   age                          113280 non-null  int64
 5   dti                          113280 non-null  float64
 6   total_pymnt                  113280 non-null  float64
 7   installment                  113280 non-null  float64
 8   loan_cat                     113280 non-null  int64
 9   home_ownership_Mortgage      113280 non-null  float64
 10  home_ownership_None          113280 non-null  float64
 11  home_ownership_Other         113280 non-null  float64
 12  home_ownership_Own           113280 non-null  float64
 13  home_ownership_Rent          113280 non-null  float64
 14  income_category_High         113280 non-null  float64
 15  income_category_Low          113280 non-null  float64
 16  income_category_Medium       113280 non-null  float64
 17  term_ 36 months              113280 non-null  float64
 18  term_ 60 months              113280 non-null  float64
 19  application_type_Individual  113280 non-null  float64
 20  application_type_Joint       113280 non-null  float64
 21  purpose_Car                  113280 non-null  float64
 22  purpose_Credit Card          113280 non-null  float64
 23  purpose_Debt consolidation   113280 non-null  float64
 24  purpose_Educational          113280 non-null  float64
 25  purpose_House                113280 non-null  float64
 26  purpose_Major Purchase       113280 non-null  float64
 27  purpose_Medical              113280 non-null  float64
 28  purpose_Moving               113280 non-null  float64
 29  purpose_Other                113280 non-null  float64
 30  purpose_Renewable energy     113280 non-null  float64
 31  purpose_Small Business       113280 non-null  float64
 32  purpose_Vacation             113280 non-null  float64
 33  purpose_Wedding              113280 non-null  float64
 34  purpose_home_improvement     113280 non-null  float64
 35  interest_payments_High       113280 non-null  float64
 36  interest_payments_Low        113280 non-null  float64
 37  grade_A                      113280 non-null  float64
 38  grade_B                      113280 non-null  float64
 39  grade_C                      113280 non-null  float64
 40  grade_D                      113280 non-null  float64
 41  grade_E                      113280 non-null  float64
 42  grade_F                      113280 non-null  float64
 43  grade_G                      113280 non-null  float64
dtypes: float64(40), int64(4)
memory usage: 38.0 MB

In [29]:
# specify input and output attributes
x = Train_Inputs.drop(columns=['loan_cat'], axis=1)
y = Train_Inputs['loan_cat']

In [30]:
x

,emp_length_int,annual_inc,loan_amount,interest_rate,age,dti,total_pymnt,installment,home_ownership_MORTGAGE,home_ownership_NONE,...,purpose_wedding,interest_payments_High,interest_payments_Low,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
0,0.5,85000,25000,11.89,21,19.48,29324.32,829.10,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.5,30000,1000,16.08,43,23.84,1207.76,35.20,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.5,65000,7000,10.71,20,14.29,8215.45,228.22,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10.0,189500,7000,16.08,55,22.47,1231.90,246.38,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,70000,25000,16.99,18,10.50,6073.10,891.20,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113275,0.5,56000,15000,16.55,58,25.11,0.00,531.44,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113276,7.0,101000,24000,16.99,53,22.66,0.00,596.34,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113277,4.0,98000,2400,12.59,27,17.32,0.00,80.40,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
113278,3.0,61900,6000,15.41,21,20.32,0.00,209.20,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
113279,6.0,150000,28000,21.99,87,19.21,0.00,773.18,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
y

0         0
1         0
2         0
3         1
4         1
         ..
113275    1
113276    1
113277    1
113278    1
113279    1
Name: loan_cat, Length: 113280, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=50)

In [33]:
x_train.head()

,emp_length_int,annual_inc,loan_amount,interest_rate,age,dti,total_pymnt,installment,home_ownership_MORTGAGE,home_ownership_NONE,...,purpose_wedding,interest_payments_High,interest_payments_Low,grade_A,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G
79126,10.0,69811,27800,20.50,23,23.76,17155.88,744.29,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
26630,3.0,125000,10200,7.49,26,4.06,10663.36,317.24,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
56997,10.0,60278,5350,17.27,20,22.66,954.25,191.47,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
81135,7.0,70000,5000,13.53,19,15.09,4243.43,169.75,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
45741,9.0,35000,17475,22.47,41,12.99,9746.60,487.33,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [34]:
y_test.head()

103342    1
63701     1
65078     1
59211     1
110520    1
Name: loan_cat, dtype: int64

In [5]:
# Separate features and target variable
#X = df.iloc[:,0:26]
#y = df.iloc[:,26]

In [35]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [36]:
# Standardize the feature values (optional but often helpful)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
# Define the VAE architecture
original_dim = X_train.shape[1]
latent_dim = 2

In [38]:
# Encoder
encoder_inputs = keras.layers.Input(shape=(original_dim,))
encoder_layer = keras.layers.Dense(128, activation='relu')(encoder_inputs)
z_mean = keras.layers.Dense(latent_dim)(encoder_layer)
z_log_var = keras.layers.Dense(latent_dim)(encoder_layer)

In [39]:
# Sampling layer
def sampling(args):
    z_mean, z_log_var = args
    epsilon = tf.keras.backend.random_normal(shape=(tf.shape(z_mean)[0], latent_dim))
    return z_mean + tf.exp(0.5 * z_log_var) * epsilon

z = keras.layers.Lambda(sampling)([z_mean, z_log_var])

In [40]:
# Decoder
decoder_inputs = keras.layers.Input(shape=(latent_dim,))
decoder_layer = keras.layers.Dense(128, activation='relu')(decoder_inputs)
outputs = keras.layers.Dense(original_dim, activation='sigmoid')(decoder_layer)

In [41]:
# Build the VAE model
encoder = keras.Model(encoder_inputs, [z_mean, z_log_var, z], name='encoder')
decoder = keras.Model(decoder_inputs, outputs, name='decoder')
vae_outputs = decoder(encoder(encoder_inputs)[2])
vae = keras.Model(encoder_inputs, vae_outputs, name='vae')

In [43]:
# Define the VAE loss
reconstruction_loss = tf.keras.losses.mean_squared_error(encoder_inputs, vae_outputs)
kl_loss = -0.5 * tf.reduce_mean(1 + z_log_var - tf.square(z_mean) - tf.exp(z_log_var))
vae_loss = reconstruction_loss + kl_loss

vae.add_loss(vae_loss)

In [44]:
vae.compile(optimizer='adam')

# Train the VAE model
vae.fit(X_train, epochs=50, batch_size=32, validation_split=0.25)

Epoch 1/50
1992/1992 [==============================] - 8s 3ms/step - loss: 2.1109 - val_loss: 2.0134
Epoch 2/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0477 - val_loss: 1.9683
Epoch 3/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0412 - val_loss: 1.9757
Epoch 4/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0349 - val_loss: 1.9593
Epoch 5/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0282 - val_loss: 1.9664
Epoch 6/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0764 - val_loss: 1.9589
Epoch 7/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0208 - val_loss: 1.9611
Epoch 8/50
1992/1992 [==============================] - 6s 3ms/step - loss: 2.0209 - val_loss: 1.9593
Epoch 9/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0224 - val_loss: 1.9597
Epoch 10/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0193 - val_loss: 1.9601
Epoch 11/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0230 - val_loss: 1.9589
Epoch 12/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0212 - val_loss: 1.9574
Epoch 13/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0178 - val_loss: 1.9596
Epoch 14/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0180 - val_loss: 1.9618
Epoch 15/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0195 - val_loss: 1.9570
Epoch 16/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0169 - val_loss: 1.9736
Epoch 17/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0181 - val_loss: 1.9564
Epoch 18/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0163 - val_loss: 1.9579
Epoch 19/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0166 - val_loss: 1.9574
Epoch 20/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0171 - val_loss: 1.9558
Epoch 21/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0156 - val_loss: 1.9560
Epoch 22/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0154 - val_loss: 1.9556
Epoch 23/50
1992/1992 [==============================] - 6s 3ms/step - loss: 2.0155 - val_loss: 1.9561
Epoch 24/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0156 - val_loss: 1.9565
Epoch 25/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0155 - val_loss: 1.9565
Epoch 26/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0172 - val_loss: 1.9560
Epoch 27/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0154 - val_loss: 1.9561
Epoch 28/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0157 - val_loss: 1.9562
Epoch 29/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0156 - val_loss: 1.9556
Epoch 30/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0150 - val_loss: 1.9559
Epoch 31/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0153 - val_loss: 1.9562
Epoch 32/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0168 - val_loss: 1.9561
Epoch 33/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0154 - val_loss: 1.9560
Epoch 34/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0152 - val_loss: 1.9557
Epoch 35/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0151 - val_loss: 1.9566
Epoch 36/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0150 - val_loss: 1.9561
Epoch 37/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0158 - val_loss: 1.9557
Epoch 38/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0151 - val_loss: 1.9557
Epoch 39/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0151 - val_loss: 1.9556
Epoch 40/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0149 - val_loss: 1.9556
Epoch 41/50
1992/1992 [==============================] - 6s 3ms/step - loss: 2.0149 - val_loss: 1.9563
Epoch 42/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0149 - val_loss: 1.9557
Epoch 43/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0158 - val_loss: 1.9555
Epoch 44/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0150 - val_loss: 1.9555
Epoch 45/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0149 - val_loss: 1.9555
Epoch 46/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0149 - val_loss: 1.9555
Epoch 47/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0149 - val_loss: 1.9554
Epoch 48/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0149 - val_loss: 1.9554
Epoch 49/50
1992/1992 [==============================] - 5s 2ms/step - loss: 2.0149 - val_loss: 1.9555
Epoch 50/50
1992/1992 [==============================] - 5s 3ms/step - loss: 2.0149 - val_loss: 1.9554

In [47]:
# Encode the data
encoded_X_train, _, _ = encoder.predict(X_train)
encoded_X_test, _, _ = encoder.predict(X_test)

# Build a disease prediction model using the encoded features
disease_model = keras.Sequential([
    keras.layers.Input(shape=(latent_dim,)),
    keras.layers.Dense(64, activation='relu'),
    keras.layers.Dropout(0.5),  # Add dropout here
    keras.layers.Dense(1, activation='sigmoid')
])


optimizer = keras.optimizers.Adam(learning_rate=0.001)  # Adjust the learning rate as needed
disease_model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

early_stopping = keras.callbacks.EarlyStopping(monitor='accuracy', patience=40, restore_best_weights=True)

# Train the disease prediction model
disease_model.fit(encoded_X_train, y_train, epochs=50, batch_size=64, validation_split=0.25, callbacks=[early_stopping])

class_weights = {0: 1.0, 1: 2.0}  # Adjust the weights based on your dataset
disease_model.fit(encoded_X_train, y_train, epochs=50, batch_size=64, validation_split=0.25, callbacks=[early_stopping], class_weight=class_weights)

from sklearn.metrics import classification_report, roc_curve, auc

# Evaluate the model
test_loss, test_accuracy = disease_model.evaluate(encoded_X_test, y_test)
print("Test accuracy:", test_accuracy)

2655/2655 [==============================] - 4s 1ms/step
885/885 [==============================] - 1s 1ms/step
Epoch 1/50
996/996 [==============================] - 3s 2ms/step - loss: 0.6894 - accuracy: 0.5453 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 2/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 3/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6892 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 4/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 5/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 6/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 7/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 8/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 9/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 10/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6891 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 11/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 12/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 13/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 14/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 15/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 16/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 17/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 18/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 19/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 20/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 21/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 22/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 23/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 24/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 25/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 26/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 27/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 28/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 29/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 30/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 31/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 32/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 33/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 34/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 35/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 36/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 37/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 38/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 39/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 40/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 41/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 42/50
996/996 [==============================] - 2s 2ms/step - loss: 0.6890 - accuracy: 0.5454 - val_loss: 0.6889 - val_accuracy: 0.5462
Epoch 1/50
996/996 [==============================] - 3s 2ms/step - loss: 0.9428 - accuracy: 0.5454 - val_loss: 0.7390 - val_accuracy: 0.5462
Epoch 2/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9390 - accuracy: 0.5454 - val_loss: 0.7413 - val_accuracy: 0.5462
Epoch 3/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9379 - accuracy: 0.5454 - val_loss: 0.7428 - val_accuracy: 0.5462
Epoch 4/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9373 - accuracy: 0.5454 - val_loss: 0.7462 - val_accuracy: 0.5462
Epoch 5/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9369 - accuracy: 0.5454 - val_loss: 0.7461 - val_accuracy: 0.5462
Epoch 6/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9367 - accuracy: 0.5454 - val_loss: 0.7374 - val_accuracy: 0.5462
Epoch 7/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9364 - accuracy: 0.5454 - val_loss: 0.7438 - val_accuracy: 0.5462
Epoch 8/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9366 - accuracy: 0.5454 - val_loss: 0.7457 - val_accuracy: 0.5462
Epoch 9/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9365 - accuracy: 0.5454 - val_loss: 0.7415 - val_accuracy: 0.5462
Epoch 10/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7465 - val_accuracy: 0.5462
Epoch 11/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9364 - accuracy: 0.5454 - val_loss: 0.7475 - val_accuracy: 0.5462
Epoch 12/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9364 - accuracy: 0.5454 - val_loss: 0.7474 - val_accuracy: 0.5462
Epoch 13/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7458 - val_accuracy: 0.5462
Epoch 14/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7466 - val_accuracy: 0.5462
Epoch 15/50

996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7447 - val_accuracy: 0.5462
Epoch 16/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7431 - val_accuracy: 0.5462
Epoch 17/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7451 - val_accuracy: 0.5462
Epoch 18/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7448 - val_accuracy: 0.5462
Epoch 19/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7446 - val_accuracy: 0.5462
Epoch 20/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7462 - val_accuracy: 0.5462
Epoch 21/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7423 - val_accuracy: 0.5462
Epoch 22/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7453 - val_accuracy: 0.5462
Epoch 23/50
996/996 [==============================] - 3s 3ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7428 - val_accuracy: 0.5462
Epoch 24/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7449 - val_accuracy: 0.5462
Epoch 25/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7466 - val_accuracy: 0.5462
Epoch 26/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7466 - val_accuracy: 0.5462
Epoch 27/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7450 - val_accuracy: 0.5462
Epoch 28/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7474 - val_accuracy: 0.5462
Epoch 29/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7487 - val_accuracy: 0.5462
Epoch 30/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7462 - val_accuracy: 0.5462
Epoch 31/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7465 - val_accuracy: 0.5462
Epoch 32/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7456 - val_accuracy: 0.5462
Epoch 33/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7457 - val_accuracy: 0.5462
Epoch 34/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7478 - val_accuracy: 0.5462
Epoch 35/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7431 - val_accuracy: 0.5462
Epoch 36/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7456 - val_accuracy: 0.5462
Epoch 37/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7467 - val_accuracy: 0.5462
Epoch 38/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7465 - val_accuracy: 0.5462
Epoch 39/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7460 - val_accuracy: 0.5462
Epoch 40/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7447 - val_accuracy: 0.5462
Epoch 41/50
996/996 [==============================] - 2s 2ms/step - loss: 0.9363 - accuracy: 0.5454 - val_loss: 0.7445 - val_accuracy: 0.5462
885/885 [==============================] - 1s 2ms/step - loss: 0.7425 - accuracy: 0.5420
Test accuracy: 0.5419844388961792